/* base */

.page_title{
    padding-top: 2%;
    text-decoration: underline;
}

.post_container{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    min-height: 500px;
}

/* base */

.post_description{
    margin-bottom: 2%;
}

.comment{
    margin-top: 1%;
    background-color: white;
    box-shadow: 1px 1px 5px #888888;
    padding: 2%;
    font-size: 16px;
}

.comment_date{
    font-size: 11px;
    color: #b6b6b6;
}

.btn-primary{
    margin: 1% 1% 1% 0;
}

.paginator{
    margin-top: 2%;
}

.text-muted{
    font-size: 10px;
}

.username_h2{
    margin-bottom: 0;
}

.upvote_container{
    border: 3px solid #f0f0f0;
}

.comment_text_p{
    white-space: pre-line; 
    word-wrap: break-word;
}