<div>
  <div class="post_container">
    <div class="page_title">
      <h1> {{ currentPost.name }} </h1>
    </div>
    <div class="post_description">
      {{ currentPost.description }}
    </div>
    <div *ngIf="isLoggedIn" class="new_comment">
      <span class="text-success" *ngIf="currentPost.fresh">
        Sikeres téma létrehozás! Írj egy kommentet, hogy elkezdődjön a beszélgetés!
      </span>
      <button type="button" class="btn btn-primary" (click)="newCommentButton()">Új hozzászólás</button>
      <button type="button" class="btn btn-primary" (click)="startPdfGenerate()">Pdf generálás</button>
      <button type="button" class="btn btn-primary" *ngIf="letSelection" (click)="finishPdfGenerate()">Pdf letöltése</button>
      <div *ngIf="emptyPdf" class="text-danger">
        <div>Nem választottál hozzászólásokat</div>
      </div>
      <div *ngIf="newComment || currentPost.fresh" class="input-area">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <textarea type="text" placeholder="A hozzászólásod" 
              formControlName="text" id="commentText" rows="5" 
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.text.errors }">
            </textarea>
            <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
              <div *ngIf="f.text.errors.required">Nem küldhetsz üres hozzászólást</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Hozzászólás elküldése</button>
          </div>
        </form>
        <div *ngIf="tooManyChar" class="text-danger">
          <div>300 karakternél nagyobb hozzászólást nem küldhetsz</div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div *ngFor="let comment of comments" class="comment row" id="{{ comment.id }}">
        <mat-checkbox (change)="selectComment(comment.id, comment.text, $event.checked)" 
        *ngIf="letSelection" class="example-margin"></mat-checkbox>
        <div class="col-2 comment_user my-auto text-center">
          <div>
            <h2 class="username_h2">
              <a [routerLink]="['/profile', comment.user.id]">{{ comment.user.username }}</a>
            </h2>
            <span class="text-muted">{{ comment.user.status }}</span>
          </div>
          <i *ngIf="comment.user.avatar === 'default'" class="fas fa-user fa-5x"></i>
          <img *ngIf="comment.user.avatar !== 'default'" 
                src="http://www.forumbackend.com/img/{{comment.user.avatar}}"
                height="50" width="50"/>
          <span class="text-muted">Kommentek</span>
          <br>
          {{ comment.user.comment_numbers }}
        </div>
        <div class="col-7 comment_text my-auto">
          <span *ngIf="userId == comment.user_id" class="text-muted">Saját</span>
          <p *ngIf="!comment.canEditComment" class="comment_text_p">
            {{ comment.text }}
          </p>
          <div *ngIf="comment.canEditComment">
            <textarea type="text" rows="5" class="form-control" [(ngModel)]="newText">{{ comment.text }}</textarea>
            <a [routerLink]="" (click)="saveEdit(comment.id)">Mentés</a>
            <a [routerLink]="" (click)="cancelEdit(comment.id)">Mégse</a>
          </div>
          <div *ngIf="tooManyEdit" class="text-danger">
            <div>300 karakternél nem lehet hosszabb a hozzászólás</div>
          </div>
          <br>
          <div class="comment_date float-right">
            {{ comment.created_at | date: 'yyyy-MM-dd HH:mm' }}
          </div>
        </div>
        <div class="col-2 comment_upvotes my-auto text-center">
          <div class="upvote_container">
            <a *ngIf="userId != comment.user_id && !comment.moderated" [routerLink]="" (click)="sendLike(comment.id)">
              <!--<p *ngIf="!comment.upvoted">Tetszik</p>
              <p *ngIf="comment.upvoted">Nem tetszik</p>-->
              <i *ngIf="!comment.upvoted" class="far fa-thumbs-up fa-1x"></i>
              <i *ngIf="comment.upvoted" class="fas fa-thumbs-up fa-1x"></i>
            </a>
            {{ comment.upvotes_count }}
          </div>
          <br>
          <a [routerLink]="" (click)="reportComment(comment.id)" *ngIf="userId != comment.user_id && !comment.reported">
            Jelentés
          </a>
          <p *ngIf="comment.reported">Jelentve!</p>
          <div *ngIf="userId == comment.user_id">
            <a [routerLink]="" (click)="editComment(comment.id)" *ngIf="!comment.canEditComment">
              Szerkesztés
            </a>
            <br>
            <button type="button" class="btn btn-link" data-toggle="modal" attr.data-target="#deleteOwnComment-{{comment.id}}">
              Törlés
            </button>
            <!-- Modal -->
            <div class="modal fade" id="deleteOwnComment-{{comment.id}}" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Komment törlése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeOwnDelete-{{comment.id}}">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Biztosan törlöd a hozzászólást?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                    <button type="button" class="btn btn-primary" (click)="deleteOwnComment(comment.id)">Hozzászólás törlése</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="adminOrMod">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light" data-toggle="modal" 
          *ngIf="userId != comment.user_id" attr.data-target="#deleteConfirmModal-{{comment.id}}">
            x
          </button>
          <!-- Modal -->
          <div class="modal fade" id="deleteConfirmModal-{{comment.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Komment törlése</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton-{{comment.id}}">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Biztosan törlöd a hozzászólást?
                  Adj indoklást:
                  <textarea class="form-control" [(ngModel)]="explanation"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                  <button type="button" class="btn btn-primary" (click)="deleteComment(comment.id)">Hozzászólás törlése</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="paginator" *ngIf="paginatorData">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': paginatorData.prev_page_url == null}">
          <a class="page-link" [routerLink]="" (click)="prevPage()">Previous</a>
        </li>
        <li class="page-item" 
        *ngFor="let item of [].constructor(paginatorData.last_page); let i = index"
        [ngClass]="{'active': paginatorData.current_page == i + 1}">
          <a class="page-link" [routerLink]="" (click)="byPageNumber(i+1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': paginatorData.next_page_url == null}">
          <a class="page-link" [routerLink]="" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
