<div>
  <div class="post_container">
    <div class="page_title">
      <h1> {{ currentPost.name }} </h1>
    </div>
    {{ currentPost.description }}
    <div *ngIf="isLoggedIn" class="new_comment">
      <span class="text-success" *ngIf="currentPost.fresh">
        Sikeres téma létrehozás! Írj egy kommentet, hogy elkezdődjön a beszélgetés!
      </span>
      <button type="button" class="btn btn-dark" (click)="newCommentButton()">Új hozzászólás</button>
      <button type="button" class="btn btn-dark" (click)="startPdfGenerate()">Pdf generálás</button>
      <div *ngIf="newComment || currentPost.fresh" class="input-area">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <textarea type="text" placeholder="A hozzászólásod" 
              formControlName="text" id="commentText" rows="5" 
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.text.errors }">
            </textarea>
            <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
              <div *ngIf="f.text.errors.required">Nem küldhetsz üres hozzászólást</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-dark">Hozzászólás elküldése</button>
          </div>
        </form>
      </div>
    </div>
    <div class="comments">
      <div *ngFor="let comment of comments" class="comment row" id="{{ comment.id }}">
        <mat-checkbox (change)="selectComment(comment.id, comment.text, comment.user.username, $event.checked)" 
        *ngIf="letSelection" class="example-margin"></mat-checkbox>
        <div class="col-2 comment_user">
          <i *ngIf="comment.user.avatar === 'default'" class="fas fa-user fa-5x"></i>
          <img *ngIf="comment.user.avatar !== 'default'" 
                src="http://www.forumbackend.com/img/{{comment.user.avatar}}"
                height="50" width="50"/>
          <h2>
            <a [routerLink]="['/profile', comment.user.id]">{{ comment.user.username }}</a>
          </h2>
          {{ comment.user.comment_numbers }}
          {{ comment.user.status }}
        </div>
        <div class="col comment_text">
          {{ comment.text }}
          <br>
          <div class="comment_date float-right">
            {{ comment.created_at | date: 'yyyy-MM-dd HH:mm' }}
          </div>
        </div>
        <div class="col-2 comment_upvotes">
          <a *ngIf="userId != comment.user_id" [routerLink]="" (click)="sendLike(comment.id)">
            <p *ngIf="!comment.upvoted">Tetszik</p>
            <p *ngIf="comment.upvoted">Nem tetszik</p>
          </a>
          {{ comment.upvotes.length }}
        </div>
      </div>
    </div>
  </div>
</div>
