<div>
  <div class="rules_container">
    <div class="page_title">
      <h1> Szabályok </h1>
    </div>
    <div class="general_rules">
      <h2>
        I. Általános szabályok
      </h2>
      <ol>
        <li>
          Ne sértegess másokat, hisz mindenkinek meg lehet
          a saját véleménye.
        </li>
        <li>
          Ne használj trágár kifejezéseket, legyen meg a 
          kulturált viselkedés.
        </li>
        <li>
          Csak indokolt esetben jelents kommenteket,
          a nem egyetértés még nem elég. Csak szabálysértés
          miatt tiltunk ki/töröljük más hozzászólását.
        </li>
        <li>
          A téma címe és leírása meghatározza, hogy
          milyen jellegű és tárgyú kommentek vannak
          tolerálva. Próbálj meg nem túl eltérni a
          témától. Ezen felül lehetnek téma specifikus
          szabályok, meghatározások amiket érdemes
          észben tartani.
        </li>
        <li>
          Csak akkor kezdeményezz új témát nyitni, ha 
          meggyőződtél róla, hogy nincs ilyen még létrehozva.
        </li>
        <li>
          Próbálj meg tartalmat vinni a hozzászólásodba,
          az egyszavas kommentek (bár nem tiltottak) 
          létrehozását kerüljük. Ha a hozzászólás elküldése
          után eszedbe jutott valami, amit hozzáfűznél,
          akkor inkább szerkeszd a válaszodat, mintsem új
          kommentet írnál.
        </li>
        <li>
          Egye szekciókban külön tárgyalva van,
          milyen hosszúságú hozzászólások engedélyezettek,
          ezeket kérem figyelmesen elolvasni és értelmezni.
        </li>
        <li>
          Ha valakire utalni akarsz, vagy kommentet
          szeretnél idézni, akkor törekedj arra, hogy 
          csak a lényegi részt emeld ki, ne az egész
          hozzászólást.
        </li>
        <li>
          A vallási, politikai, illetve szexuális témák
          megbeszélése csak kulturált formában megengedett.
        </li>
        <li>
          Próbálj meg visszaolvasni egy kérdés feltétele 
          előtt, hátha már megválaszolták. Erre egy jó 
          módszer a kereső használata.
        </li>
        <li>
          Film, sorozat, könyv témában kerüljük a
          spoilerezést. Erre egy jó megoldás, ha
          a hozzászólás közben spoiler tag-ek közé tesszük
          a megfelelő részt.
        </li>
        <li>
          A moderálás a moderátor, admin dolga,
          de tudtok segíteni, ha jelentitek a kérdéses
          hozzászólást, és mi utána nézünk.
        </li>
        <li>
          Lehetőleg mindenkihez egy profil tartozzon,
          kerüljük a felesleges többszörös regisztrációt.
        </li>
        <li>
          A szabályok nem ismerete nem mentesít a büntetés
          alól.
        </li>
      </ol>
      <h2>
        II. Moderáció
      </h2>
      <ol>
        <li>
          A szabályok megsértése büntetéssel jár, ennek mértéke a helyzettől és a moderátortól függ.
        </li>
        <li>
          Amennyiben többszöri felszólítás után is szabálysértést követ el a felhasználó, kitiltást is kaphat (időszakos / örök).
        </li>
        <li>
          A moderátori intézkedéseket kulturált formában lehet felelősségre vonni.
        </li>
        <li>
          A jelentett hozzászólásokat a moderátorok ellenőrzik, és ők szablyák ki a büntetést.
        </li>
        <li>
          Lehet moderátornak jelentkezni a megfelelő menüponton keresztül, az ott leírtakat követve.
        </li>
      </ol>
    </div>
  </div>
</div>
