<div>
  <div class="rules_container">
    <div class="page_title">
      <h1> Szabályok </h1>
    </div>
    <div class="general_rules" *ngIf="option == 'all'">
      <h2>
        I. Általános szabályok
      </h2>
      <ol>
        <li *ngFor="let rule of generalRulesList">
          {{ rule.text }}
        </li>
      </ol>
      <h2>
        II. Moderáció
      </h2>
      <ol>
        <li *ngFor="let rule of modRulesList">
          {{ rule.text }}
        </li>
      </ol>
    </div>
    <div *ngIf="option == 'faqs'">
      <h2>
        Gyakori kérdések és válaszok
        <ol>
          <li *ngFor="let faq of faqList">
            Kérdés: {{ faq.question }}
            <br>
            Válasz: {{ faq.answer }}
          </li>
        </ol>
      </h2>
    </div>
    <div *ngIf="option == 'contact'">
      <div class="contact_info text-center">
        <h1>
          Opinionera fórum
        </h1>
        Szeretnél moderátornak jelentkezni?
        <br>
        Esetleg javaslatod lenne az oldal fejlesztésével kapcsolatban?
        <br>
        Vagy csak üzenni szeretnél az oldal fejlesztőjének?
        <br>
        Akkor a következő email címen tudsz elérni: <b>huszijozs[kukac]gmail.com</b>
        <br>
        <br>
        <div class="about_me">
          <h2>Rólam</h2>
          Engem Józsefnek hívnak, 22 éves egyetemista vagyok. Programtervező informatikusnak
          tanulok az ELTE Informatika Karon. Ez az oldal a szakdolgozatom része.
        </div>
        <br>
        <div class="about_site">
          <h2>Az oldal</h2>
          Célom egy olyan oldal kialakítása volt, ahol mindenféle téma, topik elérhető és bárki
          kifejtheti véleményét, illetve kulturált módon vitázhat mással.
          A fő motiváció a fórummal kapcsolatban az, hogy bonyolult koncepciókat/fogalmakat 
          egyszerűen tálalva megvitassuk másokkal, illetve tanuljunk másoktól. 
          Ezen kívül természetesen a mindennapi csevegésnek is meg van a helye.
        </div>
      </div>
    </div>
  </div>
</div>
