.page_title{
    padding-top: 2%;
    text-decoration: underline;
}

.news_container{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
   /* background-color: #6E807A;*/
}

.card-header{
    font-size: 14px;
    display: inline-block;
    background-color: #006079;
    color: white;
}

.date{
    float: right;
    font-size: 14px;
}

p{ 
  text-indent: 3%;
}

.card-footer{
    text-align: center;
}

.card{
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px #888888;
    border: 0;
}

.btn-primary{
    margin-bottom: 4%;
}

.form-control{
    margin-top: 2%;
}

@media screen and (max-width: 1040px) {
    .news_container {
        margin-left: 37%;
    }
}