<div>
  <div class="news_container">
    <div class="page_title">
      <h1> Hírek </h1>
    </div>
    <div class="card" *ngFor="let post of newsList">
      <div class="card-header">
        {{ post.type }}
        <div class="date">{{ post.created_at | date: 'yyyy-MM-dd HH:mm' }}</div>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{ post.title }}</h1>
        <p class="card-text">
          {{ post.text }}
        </p>
      </div>
      <div class="card-footer text-muted">
        {{ post.created_at | date: 'yyyy-MM-dd HH:mm' }}
      </div>
    </div>
  </div>
</div>