a{
    color: inherit;
    font-size: 15px;
}

mat-divider {
    margin-bottom: 40%;
}

.active{
    font-weight: bold;
    border-left: 2px solid black;
}

@media screen and (max-width: 1040px) {
    a {
      font-size: 12px;
    }
}