/* layout */

/* header: 30% (10% of it is covered), middle is 60%, footer 10%, main-content 75% */

.background_rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#row_header {
  /*background-image: url("../assets/img/background.png");
  background-size: cover;*/
  /*background: #eafff9;*/
  height: 30%;
  background: #29516D;
}

#row_middle {
  height: 60%;
}

#row_footer {
  background: #032137;
  height: 10%;
}

.top_content {
  margin-bottom: 2%;
  background: #708EA4;
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
}

/* layout end */