/* layout */

.background_rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#row_header {
  /*background-image: url("../assets/img/background.png");
  background-size: cover;*/
  /*background: #eafff9;
  height: 38%;
  background-color: #50615B;*/
}

#row_middle {
  background-color: white;
  height: 90%;
}

#row_footer {
  background-color: #1A2621;
  height: 10%;
}
/* layout end */