<div>
  <div class="req_pw_container">
    <div class="page_title">
      <h1> Új jelszó igénylése </h1>
    </div>
    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Az email kitöltése kötelező</div>
          </div>
          <span class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</span>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-dark">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Email küldése
          </button>
      </div>
    </form>
    <div *ngIf="successEmailSent">
      <span class="text-success">
        Email elküldve!
      </span>
    </div>
  </div>
</div>