<!-- bootstrap navigation menu -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="main_navbar">
  <a class="navbar-brand" [routerLink]="[{ outlets: { primary: ['sections'], sidebar: ['topics'] } }]">Opinionera</a>
  <div class="collapse navbar-collapse" id="navbarNav"> <!-- collapsing when the device's width is too small -->
    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav">
        <li matRipple class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['sections'], sidebar: ['topics'] } }]">Témák</a>
        </li>
        <li matRipple class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['news'], sidebar: ['news'] } }]">Hírek</a>
        </li>
        <li matRipple class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['rules'], sidebar: ['rules'] } }]">Szabályzat</a>
        </li>
      </ul>
      <form class="form-inline">
        <input id="search_input" class="form-control mr-sm-2" type="search" placeholder="Keresés témák között..." aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Keresés</button>
      </form>
      <ul class="navbar-nav">
        <li matRipple class="nav-item" [routerLinkActive]="['active']" id="login_nav" *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['login'], sidebar: ['login'] } }]">Bejelentkezés 
            <img src="../../assets/img/loginIcon.svg" style="width: 20px;" class="avatar" alt="icon">
          </a>
        </li>
        <li matRipple class="nav-item" [routerLinkActive]="['active']" id="profile_nav" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['profile'], sidebar: ['login'] } }]">Profil</a>
        </li>
        <li matRipple class="nav-item" [routerLinkActive]="['active']" id="logout_nav" *ngIf="loggedIn">
          <a class="nav-link" href="#" (click)="logout($event)">Kijelentkezés</a>
        </li>
      </ul>
    </div>
  </div>
</nav>