<div>
  <div class="section_container">
    <div class="page_title">
      <h1> Témák </h1>
    </div>
    <div *ngIf="option == 'all'">
      <mat-list *ngFor="let section of sections">
        <div mat-subheader class="section">{{ section.name }}</div>
        <mat-list-item *ngFor="let topic of section.topics; let i=index; let odd = odd" [ngClass]="{ odd: odd }">
          <div mat-line class="container">
            <div class="row">
              <!-- <i class="far fa-comment-dots fa-3x col-1"></i>-->
              <i class="fas fa-book fa-3x col-1"></i>
              <div class="col-6 my-auto">
                <a class="main_topic" [routerLink]="['/section', section.id, topic.id]">{{ topic.name }}</a>
                <div mat-line>
                   {{ (topic.description.length > 52) ? (topic.description | slice:0:52) + '...' : (topic.description) }}
                </div>
              </div>
              <div class="col my-auto">
                <div mat-line> {{ topic.posts.length }} poszt </div>
              </div>
              <div class="col my-auto">
                <div mat-line> 
                  <span class="text-muted">Utolsó komment</span>
                  <br>
                  <a [routerLink]="['/section', section.id, topic.id, topic.last_comment_post_id, {lastComment: topic.last_comment_id}]">
                    {{ topic.last_comment_user }}
                    <br>
                    {{ topic.last_comment_date }}
                  </a> 
                </div>
              </div>
            </div>
          </div>
          <mat-divider *ngIf="i != section.topics.length-1"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="option == 'fresh' || option == 'popular'">
      <mat-list>
        <div mat-subheader class="section">{{ commentSectionTitle }}</div>
        <mat-list-item *ngFor="let comment of freshPopularContainer.comments; let i=index; let odd = odd" [ngClass]="{ odd: odd }">
          <div mat-line class="container">
            <div class="row">
              <div class="col-1">
                <i *ngIf="comment.user.avatar === 'default'" class="fas fa-user fa-3x"></i>
                <img *ngIf="comment.user.avatar !== 'default'" 
                      src="http://www.forumbackend.com/img/{{comment.user.avatar}}"
                      height="45" width="45"/>
              </div>
              <div class="col-5 my-auto">
                <span class="text-muted">Poszt: {{ comment.post.name }}</span>
                <br>
                <a class="main_topic" *ngIf="option == 'fresh'"
                [routerLink]="['/section', comment.post.topic.section_id, comment.post.topic_id, comment.post_id, {comment: comment.id}]">
                  {{ (comment.text.length > 6) ? (comment.text | slice:0:24) + '...' : (comment.text) }}
                </a>
                <a class="main_topic" *ngIf="option == 'popular'"
                [routerLink]="['/section', comment.post.topic.section_id, comment.post.topic_id, comment.post_id, {comment: comment.id}]">
                  {{ (comment.text.length > 6) ? (comment.text | slice:0:24) + '...' : (comment.text) }}
                </a>
              </div>
              <div class="col my-auto">
                <span class="text-muted">Írta:</span>
                <div mat-line> 
                  <a [routerLink]="['/profile', comment.user_id]">
                    {{ comment.user.username }}
                    {{ comment.user.status }}
                  </a> 
                </div>
              </div>
              <div class="col my-auto">
                <span class="text-muted">Dátum:</span>
                <div mat-line> {{ comment.updated_at | date: 'yyyy-MM-dd HH:mm' }} </div>
              </div>
            </div>
          </div>
          <mat-divider *ngIf="i != freshPopularContainer.comments.length-1"></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <div mat-subheader class="section">{{ postSectionTitle }}</div>
        <mat-list-item *ngFor="let post of freshPopularContainer.posts; let i=index; let odd = odd" [ngClass]="{ odd: odd }">
          <div mat-line class="container">
            <div class="row">
              <i class="far fa-comment-dots fa-3x col-1 my-auto"></i>
              <div class="col-5 my-auto">
                <a class="main_topic" 
                [routerLink]="['/section', post.topic.section_id, post.topic_id, post.id]">
                  {{ post.name }}
                </a>
                <div mat-line> {{ post.description }} </div>
              </div>
              <div class="col my-auto text-center">
                <div mat-line> {{ post.comments_count }} <br> komment </div>
              </div>
              <div class="col my-auto">
                <span class="text-muted">Indította:</span>
                <div mat-line> 
                  <a [routerLink]="['/profile', post.user_id]">
                    {{ post.user.username }}
                    <div mat-line> {{ post.created_at | date: 'yyyy-MM-dd HH:mm' }} </div>
                  </a> 
                </div>
              </div>
            </div>
          </div>
          <mat-divider *ngIf="i != freshPopularContainer.comments.length-1"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
