<div>
  <div class="profile_container">
    <div class="page_title">
      <h1> Saját profil </h1>
    </div>
    <h2 *ngIf="userInfo">Üdvözlünk <b>{{ userInfo.username }}</b>!</h2>
    <div *ngIf="userInfo" class="notifications container">
      <h2>Értesítések</h2>
      <ol>
        <li *ngFor="let notification of userInfo.notifications">
          {{ notification.message }} - {{ notification.created_at | date: 'yyyy-MM-dd HH:mm' }}
        </li>
      </ol>
    </div>
    <br>
    <div *ngIf="userInfo" class="messages container">
      <h2>Üzenetek</h2>
      <h3>Beérkezett üzenetek</h3>
      <ol>
        <li *ngFor="let receivedMsg of userInfo.received">
          Küldte: {{ receivedMsg.sender_user_id }}
          <br>
          Tárgy: {{ receivedMsg.header }}
          <br>
          Üzenet: {{ receivedMsg.body }}
          <br>
          Dátum: {{ receivedMsg.created_at | date: 'yyyy-MM-dd HH:mm' }}
          <br>
        </li>
      </ol>
      <h3>Elküldött üzenetek</h3>
      <ol>
        <li *ngFor="let sentMsg of userInfo.sent">
          Címzett: {{ sentMsg.receiver_user_id }}
          <br>
          Tárgy: {{ sentMsg.header }}
          <br>
          Üzenet: {{ sentMsg.body }}
          <br>
          Dátum: {{ sentMsg.created_at | date: 'yyyy-MM-dd HH:mm' }}
          <br>
        </li>
      </ol>
    </div>
    <br>
    <div *ngIf="userInfo" class="container user_info_container">
      <h2>Információk</h2>
      <i *ngIf="userInfo.avatar === 'default'" class="fas fa-user fa-5x"></i>
      <img *ngIf="userInfo.avatar !== 'default'" 
            src="http://www.forumbackend.com/img/{{userInfo.avatar}}"
            height="50" width="50"/>
      <div class="user_infos">
        <ul>
          <li>
            {{ userInfo.status }}
          </li>
          <li>
            {{ userInfo.rank }}
          </li>
          <li>
            upvotes: {{ userInfo.upvotes }}
          </li>
        </ul>
        Tölts fel egy avatart (maximum 1MB)
        <br>
        <input #selectFileInput type="file" (change)="onFileSelected($event)">
        <span class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</span>
        <span class="text-success" *ngIf="responseMessage">{{ responseMessage }}</span>
        <button type="button" (click)="onUpload()">Feltöltés</button>
      </div>
    </div>
  </div>
</div>