.page_title{
    padding-top: 2%;
    text-decoration: underline;
}

.profile_container{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.user_info_container{
    background-color: white;
    padding: 2%;
}