<div class="page_container">
  <div class="topic_container">
    <div>
      <h1 class="page_title"> {{ currentTopic.name }} </h1>
      <h2 class="sub_title"> {{ currentTopic.description }} </h2>
    </div>
    <div *ngIf="isLoggedIn" class="new_post">
      <button type="button" class="btn btn-primary" (click)="newPostButton()">Téma nyitás</button>
      <div *ngIf="newPost" class="input-area">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" formControlName="postTitle" 
            class="form-control" placeholder="Téma címe"
            [ngClass]="{ 'is-invalid': submitted && f.postTitle.errors }"/>
            <div *ngIf="submitted && f.postTitle.errors" class="invalid-feedback">
                <div *ngIf="f.postTitle.errors.required">A cím kitöltése kötelező</div>
            </div>
            <textarea type="text" placeholder="A téma leírása" 
              formControlName="postDescription" id="postDescription" rows="2" 
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postDescription.errors }">
            </textarea>
            <div *ngIf="submitted && f.postDescription.errors" class="invalid-feedback">
              <div *ngIf="f.postDescription.errors.required">Adj meg egy pár szavas leírást</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">A téma létrehozása</button>
          </div>
        </form>
        <div *ngIf="tooManyCharTitle" class="text-danger">
          <div>A cím maximum 35 karakter lehet!</div>
        </div>
        <div *ngIf="tooManyCharDescription" class="text-danger">
          <div>A leírás maximum 110 karakter lehet!</div>
        </div>
      </div>
    </div>
    <mat-list>
      <div mat-subheader>Posztok</div>
      <mat-list-item  *ngFor="let post of currentPostList; let i=index; let odd = odd" 
      [ngClass]="{ odd: odd }">
        <div class="container">
          <div class="row">
            <i class="far fa-comment-dots fa-3x col-1 my-auto"></i>
            <div class="col-4 my-auto main_post">
              <div mat-line> 
                <a [routerLink]="['./', post.id]"> {{ post.name }} </a>
              </div>
              <div mat-line> {{ post.description }} </div>
              <span class="text-muted">Indította: {{ post.user.username }}, {{ post.created_at | date: 'yyyy-MM-dd HH:mm' }}</span>
            </div>
            <div class="col my-auto text-center">
              <div mat-line> {{ post.comments_count }} <br> komment </div>
            </div>
            <div class="col my-auto">
              <span class="text-muted">Utolsó komment</span>
              <br>
              <a [routerLink]="['./', post.id, {lastComment: post.last_comment_id}]">
                {{ post.last_comment_user }}
                <br>
                {{ post.last_comment_date }}
              </a>
            </div>
          </div>
        </div>
        <mat-divider *ngIf="i != currentPostList.length-1"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
